.archive-year-heading {
  font-family: $title-font;
  font-size: 200%;
  margin: 2rem 0 0 0;
  border-bottom: solid black 1px;
}

article.archive {
  margin-top: 2rem;
  margin-left: 4rem;
}

.archive-entry-title {
  font-family: $title-font;
  margin: 0;
}

.archive-entry-date {
  font-family: $meta-font;
  font-size: 75%;
}

.archive-entry-footer {
  p { margin: 0; }
}